# macOS
.DS_Store
**/.env

# Terraform
cluster.tfvars
cluster.secrets.tfvars
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/*.tfvars
**/*.tfvars.json

# Ansible
*.retry
**/*.retry
**/.ansible/
**/ansible.log
**/vault-pass.txt
**/.vault_pass
**/.vault-password-file
**/hosts.yml
**/hosts.ini
**/inventory.yml
**/inventory.ini


# Helm / Helmfile
**/charts/*.tgz
**/Chart.lock
**/.helmfile/
**/helmfile.lock
**/helmfile.yaml.lock

# Generated artifacts
**/.generated/
